* { margin: 0; }

.title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#todolist {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#todolist_search,
#todolist_list {
    margin: auto;
    border: 1pt solid gainsboro;
    border-radius: 5pt;
    width: 40vw;

    background-color: white;
}

#todolist_search {
    margin-bottom: 5vh;
}

.todolist_search--task,
.todolist_list--actions,
.task {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 3rem;
}

.todolist_search--task {
    border: 1pt solid gainsboro; 
    border-radius: 5pt;
    padding: 1rem;
    
    width: 100%;
}

.task {
    border: 0 solid gainsboro;
}

#todolist_list > * {
    height: 3rem;
    line-height: 3rem;
}

#todolist_list > *:first-child,
#todolist_list > *:last-child { border: 0 solid gainsboro; }
#todolist_list > *:first-child { border-bottom-width: 1pt; }
#todolist_list > *:last-child { border-top-width: 1pt; }

input[type=text] {
    box-sizing: border-box;
    border: none;
    border-radius: 5pt;
    outline: none;

    font-size: 1rem;
}

/* Search */
#search-task {
    padding: 1rem;
    width: 100%;
}

/* New task */
.todolist_list--new-task {
    box-shadow: 0px 2px 6px 0px gainsboro;
}

.todolist_list--new-task input[type=text] {
    height: 100%;
}

/* List */
.todolist_list--tasks {
    height: unset !important;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* this will change */
.task:nth-child(even) {border-width: 1pt 0;}
.task:first-of-type {border-top: 0;}
.task:last-of-type {border-bottom: 0;}

.task .task-name {
    width: 100%;
    flex-grow: 1;
    text-align: left;
}

.task-status,
.task-action,
.task-priority {
    min-width: 3rem;
    height: 3rem;
    line-height: 3rem;
}

.task-priority {
    color: gray;
    box-sizing: border-box;
}

.task-action {
    color: gainsboro;
    font-size: 2rem;

    background-color: white;
    transition: ease-in-out 0.3s background-color;
}

.task-action:hover {
    cursor: pointer;

    color: gray;
    background-color: gainsboro;
}

.task-action:active {
    color: gainsboro;
    background-color: gray;

    border-top: 0;
    transition: ease-in-out 0.7s border-top;
}

.task-priority:hover {
    cursor: pointer;
    border-top: 1rem solid;
}

.task-priority:active {
    cursor: pointer;
    overflow-y: hidden;

    border-top: 2.5rem solid;
}

.completed {
    color: red;
    text-decoration: line-through;
}

.baja-prioridad { 
    color: black;
    background-color: #BBE6D6;
}

.media-prioridad {
    color: white;
    background-color: #FFA500;
}

.alta-prioridad {
    color: white;
    background-color: #8B0000;
}

.task-priority.baja-prioridad:hover { border-top-color: #FFA500; }
.task-priority.media-prioridad:hover { border-top-color: #8B0000; }
.task-priority.alta-prioridad:hover { border-top-color: #BBE6D6; }

.todolist_list--actions {
    padding: 1rem;
    color: #858383;
}

.todolist_list--actions > div {
    margin: 0 5vw;
    display: flex;
}

.todolist_list--actions > div > div { padding: 0 0.5rem; }
.todolist_list--actions .clickable { font-weight: bold; }
.todolist_list--actions .clickable:hover {
    cursor: pointer;
    color: black;
}

.todolist_list--actions input[type=radio] { display: none; }
.todolist_list--actions input:checked + .clickable { color: deepskyblue; }

.rounded > input{
    width: 50%;
    height: 50%;
    
    background-color: white;
    transition: ease-in-out 0.25s background-color;

    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.rounded > input:checked {
    background-color: deepskyblue;
    transition: ease-in-out 0.25s background-color;
}

/* Animations */
.list-enter-active, .list-leave-active {
    transition: all 0.5s;
}

.list-enter-active, .list-leave-to {
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.list-enter-to, .list-leave {
    opacity: 1;
    overflow: unset;
    height: 3rem;
}

@media only screen and (max-width: 1000px) {
    #todolist_search,
    #todolist_list {
        width: 60vw;
    }
}
@media only screen and (max-width: 500px) {
    #todolist_search,
    #todolist_list {
        width: 80vw;
    }

    #todolist {
        align-items: center;
    }

    #todolist_list > .todolist_list--actions {
        flex-direction: column;
        padding: 0;
        height: auto;
    }
}

@media only screen and (max-width: 350px) {
    .title {
        margin: 0;
    }

    #todolist_search,
    #todolist_list {
        width: 90vw;
        border: none;
        border-radius: 0;
        margin: 0;
    }

    #todolist_search {
        margin-bottom: 1rem;
    }

    #todolist_list {
        display: flex;
        flex-direction: column;
    }

    #todolist_list,
    .todolist_list--tasks {
        flex-grow: 1;
    }

    .task-priority:hover {
        border: none;
    }
}